

.group-skills {
    margin-bottom: 50px;
}

.group-skills h2 {
    text-align: center;
    margin-bottom: 20px;
}

.skills-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.skill-item {
    background-color: #fcfcfc;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border: 0.1px solid _palette(fg);
}

.skill-item:hover {
    transform: translateY(-5px);
}

.skill-image {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
}

.skill-content {
    padding: 15px;
}

.skill-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.skill-description {
    font-size: 14px;
    margin: 0;
    color: _palette(bg);
}

.mechanic .skill-title { color: _palette(skill-text);}
.computing .skill-title { color: _palette(skill-text);}
.robotics .skill-title { color: _palette(skill-text);}