

.group-skills {
    margin-bottom: 50px;
}

.group-skills h2 {
    text-align: center;
    margin-bottom: 20px;
}

.skills-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    border: 5px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.skill-item {
    background-color: e9ecef;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border: 3px solid #ffffff;
}

.skill-item:hover {
    transform: translateY(-5px);
}

.skill-image {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
}

.skill-content {
    padding: 15px;
}

.skill-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.skill-description {
    font-size: 14px;
    margin: 0;
}

.mechanic .skill-title { color: 007bff;}
.computing .skill-title { color: 28a745;}
.robotics .skill-title { color: ffc107;}